<h1>Edit this aquarium!</h1>

<%= form_for @aquarium do |f| %> 
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>  
  </div>
  <br>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div> 
  <br>
  <%= f.submit "Submit Changes" %>
  <br>
<% end %>
<br>
<%= link_to "Back", aquarium_path %>