<h1>Plan a New Aquarium</h1>

<%= form_for @aquarium do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %> <!-- text_area is different than text_field -->
  </div>

  <!-- List of Fish -->
  <ul>
      <% @fishes.each do |fish|  %>
          <li>
              <%# link_to image_tag(fish.image_url(:thumb)), fish_path(fish) %>
              <%= check_box_tag fish.name, fish.name %>
              <%= fish.name %>
              <%= link_to "More info", fish_path(fish), :target => "_blank" %>
          </li>
      <% end %>
  </ul>

  <%= f.submit "Save", class: "btn btn-success" %>

<% end %> <!-- closing out the form_for method -->

