<h1>Plan a New Aquarium</h1>

<div class="big">
  <%= form_for @aquarium do |f| %>

    <div>
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :description %>
      <br>
      <%= f.text_area :description %> <!-- text_area is different than text_field -->
    </div>

    <!-- List of Fish -->
    <p><strong>Select Your Fish</strong></p>
    <%= f.collection_check_boxes :fish_ids, Fish.all, :id, :name %>
    <!-- <ul>
        <%# @fishes.each do |fish|  %>
            <li>
                <%#= link_to image_tag(fish.image_url(:thumb)), fish_path(fish) %>
                <%#= check_box_tag fish.name, fish[:id] %>
                <%#= fish.name %>
                <%#= link_to "More info", fish_path(fish), :target => "_blank" %>
            </li>
        <%# end %>
  </ul> -->

    <%= f.submit "Save", class: "btn btn-success" %>

  <% end %> <!-- closing out the form_for method -->
</div>
